body {
    background-color: blanchedalmond;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
   
}


.Top{
    background-color: green;
    width: 100%;
    text-align: center;
    padding: 0;
    padding-bottom: 30px;
    

}

#Logo {
    max-width: 100px;
    padding-top: 20px;
    
    
}

#Title{
    
    font-size: 48px;
    color: white;
    
}

#underline {
  width: 300px;
  height: 2px;
  background-color: white;
  border: none;
  margin: 10px auto;
}

#info-card{
  max-width: 900px;     /* controls how wide the paragraph can get */
  width: 100%;
  margin: 0 auto;       /* centers it */
  padding: 0 5vw;       /* responsive padding for small screens */
  color: white;
  font-weight: bold;
  line-height: 1.5;
  box-sizing: border-box;
  text-align: center;   /* optional: makes it match the header */
}

/* Done Styling the Header */

@media (max-width: 600px){
    body{ 
    background-color: red;

    }

    
}